# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/
e2e/.auth/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# turbo
.turbo/

# vercel
.vercel

# docker volumes
postgres_data/
redis_data/
minio_data/

# IDE
.idea/
.vscode/
*.swp
*.swo
